/* Section 2:  Appearance Improvements */

/* Scrollbar color change */
::-webkit-scrollbar-thumb {
	background-color: rgba(199,237,179,0.7) !important;
}


/*Compose Button - oval look, pointer change & hover (3) */
.T-I-KE {
 	background-color:white !important;
 	background-image:none !important;
 	color:black;
 	cursor:pointer !important;
 	border-radius:14px !important;     
 	text-shadow:none; 
 	border:1px solid rgba(0,0,0,0.1);
}

.T-I-KE:hover {
	background: rgba(199,237,179,0.7) !important;        
 	background-image: none !important;
 	box-shadow: none;
 	border:1px solid rgba(0,0,0,0.1);        
}


/* Left-side e-mail and labels row: Selected Item (background color & oval look (4) */
.ain {
	background-color: #E5E5E5 !important;
   	border-left: 2px solid #E5E5E5 !important;
  	border-radius:14px;
}


/* Left-side e-mail and labels row: Selected Text (Text Color, Inverse, Font & Hover (5) */
.nZ.TO .n0 {
	color: #0000cc !important;
    text-decoration: underline !important;
}   
.TO {
  	font-family: 'Segoe UI', 'Open Sans' !important;
	font-size: 14px !important;
}
.TO:hover {
	background: rgba(199,237,179,0.8) !important;  
   	border-radius:14px !important;
}                        



/* Unread Message Rows:  Background and hover */
.zE {
	background: rgba(204,221,255,0.8) !important;
}
.zE:hover {
	background: rgba(199,237,179,0.8)!important; 
}

   

/* Read message rows: Background and hover */
.yO {
background: rgba(255,255,255,0.8)!important;
}
 
    
/* (Vertical split users - Comment this line out if hover action is too annoying) */
.yO:hover {
	background: rgba(199,237,179,0.8)!important; 
}

/* Selected Rows:  Background and hover */
.x7 {
	background: rgba(255,250,205,0.8)!important;
}
.x7:hover {
	background: rgba(255,250,205,0.8)!important;
}






.zF, .xY {
        min-height: 50px !important;
    }        
    
.bqe, .bq3 {
        font-weight: 500 !important;
    }
    
.xY {
        vertical-align: middle !important;
    }
        
.y6, .xT {
        display: table !important;
    }    
    
.yX {
        padding-right: 0.25rem !important;
    }
    
.Zt, .bAw {
        display: none !important;
    }